.navigation {

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ &__background {
    width: 0;
  }

  &__checkbox:checked ~ &__nav {
    display: none;
  }

  &__button {
    color: $color-black;
    background-color: $color-white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 6.5rem;
    padding-top: 2.5rem;
    position: fixed;
    width: 6.5rem;
    text-align: center;
    top: 4rem;
    right: 4rem;
    z-index: 200;
  }

  &__background {
    border-radius: 50%;
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    height: 6.5rem;
    width: 6.5rem;
    position: fixed;
    top: 4rem;
    right: 4rem;
    transform: scale(80);
    z-index: 100;
  }

  &__nav {
    @include center-both;
    position: fixed;
    font-size: 3rem;
    z-index: 150;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__item {
    margin-bottom: 3rem;
  }

  &__link {
    &:link,
    &:visited {
      background-size: 220%;
      color: $color-white;
      font-weight: 300;
      padding: 1.5rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .5s;
    }

    &:hover,
    &:active {
      background-image: linear-gradient(120deg, transparent 50%,  $color-white 50%);
      background-position: 100%;
      color: $color-primary;
    }

    span {
      margin-right: 2rem;
    }
    
  }
}